body{
	margin: 0;
	background-color: #4c3131;
}
h1{
	text-align: center;
	margin:0;
	font-size:4.3em; 
	color: white;
}
p{
	margin: 0;
	font-size:1.8em;
	text-align:left;
	color: #aba3a3;



}

.about-me{
	width: 100%,
	margin:auto;
	margin-top: 0;
	padding: 20px;
}
.tag{
	margin:0;
	text-align: center;
	font-size:1.2em;
	color:white;
	padding: 0;
}
img{
	max-width: 100%;
	width: 200px;
	height: 300px;

}
.table{
	padding:40px;
	
}
table{
	width:50%;
	margin: auto;
	background-color:#c39f9f;

tr nth-child(even) td nth child(odd){
	background-color:seagreen;

}

th{
 background-color:#c39f9f;
padding: 10px;
font-size: 20px;
}

